:root {
    --bg-color: #1A1E24;
    --text-color: #00FFF5;
    --bg-color-rgba: rgba(26, 30, 36, 0.8);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('../../NATS-Regular.woff') format('woff');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'NATS Regular', sans-serif;
    background-color: var(--bg-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem 0rem 1rem 0rem;
}

.nav-links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav-links li {
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links li:hover {
    background-color: #262d3b;
    border-radius: .3rem;
    /* text-decoration: underline;
    text-underline-offset: .35rem; */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    letter-spacing: .12rem;
    font-size: 1.45rem;
    font-weight: normal;
    line-height: 2rem;
    display: block;
}

.nav-links li a.active {
    color: var(--text-color);
}
