:root {
    --bg-color: #1A1E24;
    --text-color: #00FFF5;
    --bg-color-rgba: rgba(26, 30, 36, 0.8);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('../../NATS-Regular.woff') format('woff');
}

body {
    margin: 0px;
    min-height: 100vh;
    height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--bg-color-rgba), var(--bg-color-rgba)), url(../../background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: 'NATS Regular', sans-serif;
    background-color: var(--bg-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: visible;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 1rem 0rem 1rem 0rem;
}

.nav-links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav-links li {
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links li:hover {
    background-color: #262d3b62;
    border-radius: 10px;
}

.nav-links li a:hover:not(.nav-links li a.active) {
    font-weight: 600;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    letter-spacing: .12rem;
    font-size: 1.45rem;
    font-weight: normal;
    line-height: 2rem;
    display: block;
}

.nav-links li a.active {
    color: var(--text-color);
}

.about-text-container {
    color: white;
    padding: 2.7rem;
}

#idea-link a{
    text-decoration: none;
    color: var(--text-color);
}

#i-build{
    font-size: 3.5rem;
}

#My-name{
    font-size: 1.65rem;
    /* padding: auto; */

}

#one-para{
    font-size: 1.61rem;
}