:root {
    --bg-color: #1A1E24;
    --text-color: #00FFF5;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('NATS-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Sansation Regular';
    src: url(Sansation_Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'NATS Regular', sans-serif;
    background-color: var(--bg-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem 0rem 1rem 0rem;
}

.nav-links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav-links li {
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links li:hover {
    background-color: #262d3b;
    border-radius: .3rem;
    /* text-decoration: underline;
    text-underline-offset: .35rem; */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    letter-spacing: .12rem;
    font-size: 1.45rem;
    font-weight: normal;
    line-height: 2rem;
    display: block;
}

.nav-links li a.active {
    color: var(--text-color);
}

.text-container {
    color: white;
    /* margin-left: auto;
    margin-right: auto;
    width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center; */ /* Removed Flex */
    text-align: center;
}

#title {
    font-size: 3rem;
    letter-spacing: .125rem;
    margin-bottom: 0px;
}

#title h1 {
    margin-top: 3.5rem;
    font-weight: normal;
}

#home-about-intro {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-family: 'Sansation Regular', 'Sans-Serif';
    font-weight: normal;
}

#learn-more {
    font-family: 'Sansation Regular', 'Sans-Serif';
    margin-top: 3.75rem;
    font-size: 1.45rem;
    letter-spacing: .05rem;
    font-weight: 550;
}

#learn-more a {
    text-decoration: none;
    color: var(--text-color);
}

#learn-more a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.social-media {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-media a {
    margin: 1rem;
    align-content: center;
}

#github {
    fill: white;
}

#github:hover{
    /* fill: #6cc644; */
    fill: black;
}

#discord {
    fill: white;
}

#discord:hover {
    fill: #7289da;
}

#twitter {
    fill: white;
}

#twitter:hover {
    fill: #1DA1F2;
}

#email {
    fill: white;
}

#email:hover {
    fill: #ff6147;
}

#instagram {
    fill: white;
}

#instagram:hover {
    fill: #670070
    /* fill: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
    /* box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
